html{
    border-radius: 10px !important;
}
h1{
    color: #0b2261;
    margin-left: 80px;
    padding: 5px;
    display: flex;
    margin-top: 30px;
}

body {
    background-color: #fffefe;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px !important;
}

.code-block-formatting pre code {
  display: block;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  padding: 1em;
  margin: 0.5em 0;
  overflow-x: auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
}


.container {
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffefe;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fffefe;
    height: 50px;
    margin-bottom: 24px;
}

.brand-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: bold;
}

.logo-area {
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 3px;
}

.logo {
    z-index: 10;
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

h1{
    padding: 1px;
    font-size: 30px;
    line-height: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinning-logo {
    width: 100%;
    height: 100%;
    height: 40px;
    width:40px;
    margin-right: 15px;
    background-image: url('/images/notenitnewlogo62524559pm.png');
    background-size: cover;
    animation: spin .5s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 0;
    visibility: hidden;
}

.brand-area.loading .logo
{
    visibility: hidden;
    display: none;
}

.brand-area.loading .spinning-logo
{
    visibility: visible;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: auto;
    bottom:10px;
    top:20px;
    flex-direction: column;
    gap: 5px;

}
section{
    overflow:auto;
}

.bottom-area{
    background-color: #ffffff;
    flex-grow: 1;
    position:sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

/* Input Area */
.input-area {
    flex-grow: 1;
    margin-right: 10px;
    max-width: 430px;
    /* border: 1px dotted #000000; */
}

/* Meta Item */
.composition {
    background-color: #ffffff;
    padding: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
    padding-bottom: 20px;
}

.composition-content{
    width: 100%; /* Adjusted to take full width of the input area */
    max-width: 430px;
    padding: 10px;
    background-color: white;
    border-radius: 5px; /* Added border-radius for rounded corners */
}

.composition-buttons {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically aligns the delete button with the middle of the check site button */
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.dragging {
    opacity: 0.5;
}

.drag-over {
    border: dashed 2px #000;
}

.placeholder {
    border: 2px dashed #ccc;
    margin: 10px 0;
    height: 40px; /* Adjust based on your note item height */
    background-color: #f8f8f8;
}
/* Text Input */
.text-input {
    width: 100%; /* Adjusted to take full width of the input area */
    max-width: 430px;
    height: 20px;
    padding: 10px;
    border: .25px solid gray;
    border-radius: 10px; /* Added border-radius for rounded corners */
    box-shadow: inset 0px 4px 4px rgba(69, 69, 69, 0.807); /* Added inset for inner shadow */
}

/* Type in a note and press ‘enter’ */
.text-input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    color: gray;
    line-height: 20px;
}


/* Check Site Button */
.check-site-button {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;;
    padding: 5px;
}

/* Ellipse 2 */
.check-site-button .ellipse {
    width: 100%; /* Adjusted to take full width of the button */
    height: 40px; /* Adjusted to take full height of the button */
    background: #0b2261;
    border-radius: 30px; /* Added to make it an ellipse */
    /* border: 1px dotted #000000; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    /* opacity: 1; */
    z-index: 10;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #ffffff!important;
    border: none; /* Add this line to remove the border */
}

.check-site-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transform: scale(1.1);
}

/* new bubble anim to replace above */

.bubble {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 0;
    visibility: hidden; /* Initially set to hidden */
}

#bubble1 {
    background-color: #c36f86;
    animation: bubble1 4s ease-out infinite;
}

#bubble2 {
    background-color: #8fded7;
    animation: bubble2 4s ease-out 1s infinite;
}

#bubble3 {
    background-color: #fac26d;
    animation: bubble3 4s ease-out 1s infinite;
}

#bubble4 {
    background-color: #0b2261;
    animation: bubble4 4s ease-out infinite;
}

/* Define bubble animations similar to steam animations */
@keyframes bubble1 {
    0% {transform: translateY(0) translateX(0) scale(0.35); opacity: 0.5;}
    50% {transform: translateY(-75px) translateX(10px) scale(0.75); opacity: 0.3;}
    80% {transform: translateY(-100px) translateX(10px) scale(0.75); opacity: 0.1;}
    100% {transform: translateY(-200px) translateX(-20px) scale(1.3); opacity: 0;}
}
@keyframes bubble2 {
    0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.6;}
    50% {transform: translateY(-35px) translateX(-10px) scale(0.65); opacity: 0.4;}
    70% {transform: translateY(-120px) translateX(30px) scale(0.85); opacity: 0.25;}
    100% {transform: translateY(-200px) translateX(20px) scale(1.4); opacity: 0;}
}

@keyframes bubble3 {
    0% {transform: translateY(0) translateX(0) scale(0.15); opacity: 0.7;}
    30% {transform: translateY(-65px) translateX(-20px) scale(0.55); opacity: 0.5;}
    60% {transform: translateY(-85px) translateX(40px) scale(0.95); opacity: 0.25;}
    100% {transform: translateY(-150px) translateX(-12px) scale(1.6); opacity: 0;}
}

@keyframes bubble4 {
    0% {transform: translateY(0) translateX(0) scale(0.55); opacity: 0.8;}
    30% {transform: translateY(-65px) translateX(-30px) scale(0.45); opacity: 0.6;}
    50% {transform: translateY(-125px) translateX(50px) scale(0.75); opacity: 0.3;}
    100% {transform: translateY(-320px) translateX(-10px) scale(1.2); opacity: 0;}
}

/* When loading, set bubbles to visible and possibly adjust their position */
.check-site-button.loading .bubble {
    visibility: visible;
}

.check-site-button.loading .ellipse {
    visibility: hidden;
}

/* Remove bullets from an unordered list */
ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
/* note Items Container */
.note-items {
    width: 100%;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-bottom: 10px;
}
/* Overlap button in the composition item section */
.composition-overlap {
    display: flex;
    align-items: center; /* Vertically aligns the button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: rgb(255, 253, 247); /* cream */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    color: white;
    border: 1px black solid;
}

.composition-overlap img {
  object-fit: contain;
/* or
  object-fit: cover; */
} 

.composition-overlap:hover {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.composition-overlap.loading {
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

/* Unique button in the composition item section */
.composition-unique {
    display: flex;
    align-items: center; /* Vertically aligns the button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: #e67e22; /* Orange color */
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    color: white;
}

.composition-unique:hover {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.composition-unique.loading {
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

/* Animation for loading state */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Play button in the composition item section */
.composition-run {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: #0b2261;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    color: white;
}
.composition-question{
      display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: #39f414;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    color: white;
}

/* Copy button in the composition item section */
.composition-copy {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: white;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    border: 1px black solid;
}

.composition-copy:active{
    background-color: #AFAFAF;
}


/* Clear button in the composition item section */
.composition-clear {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: #ff0303;
    color: white;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
}

/* Smaller Delete Button for Meta Item */
.composition-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 16px; /* Smaller width */
    height: 16px; /* Smaller height */
    background-color: #ff0303;
    border-radius: 50%; /* Keeps it a circle */
    cursor: pointer;
    position: absolute; /* This will allow it to be positioned within its parent */
    top: 0;
    right: 0;
    transform: translate(50%, -50%); /* This will move it half its width to the right and half its height up */
    visibility: hidden; /* Initially hidden */
}

.composition-span:hover .composition-delete-button {
    visibility: visible; /* Show on hover of the parent span */
}

.composition-delete-button:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.composition-clear:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.composition-copy:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.composition-run:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.composition-run.loading  {
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

.composition-question.loading  {
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

.play-button.loading {
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

/* Meta note Span */
.composition-span {
    display: inline-block;
    border: 1px dotted #000;
    padding: 5px 10px;
    position: relative;
    margin: 3px;
    border-radius: 7px;
    position: relative;
    transition: background-color 0.3s ease;
}

.composition-span:hover {
    background-color: #eaeaea;
}


/* note Item */
.note-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    max-width: 450px;
}

.matched-item {
    background-color: #39f414;
    border-radius: 5px;
    padding: 4px;
    /* or any color you prefer for highlighting */
}


/* Goal Item Content (text and delete button) */
.note-item-content {
    position: relative;
    display: flex;
    overflow: auto;
    max-height: 200px;
    justify-content: space-between; /* Places text on the left and delete button on the right */
    align-items: center;
    padding: 10px;
    background-color: #fffefe;
    border-radius: 10px; /* Added border-radius for rounded corners */
}

/* Change visibility of delete-button to visible when note-item-content is hovered */
.note-item-content:hover .delete-button {
    visibility: visible;
}

.note-item-content:hover .copy-button {
    visibility: visible;
}

.note-item-content:hover .play-button {
    visibility: visible;
}


.note-item-content:hover .check-button {
    visibility: visible;
}

.note-item-content:hover  {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #c8e6ff;
}


.list-text {
    font-size: 15px;
}

.text-container {
    max-width: 340px;
    width: 340px;
    max-height: 200px;
}

/* list Button */
.list-button-box {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically aligns the delete button with the middle of the check site button */
    justify-content:space-between;
    width: 120px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    cursor: pointer;
    padding: 2px;
    gap:1px;
}

/* list Button */
.expand-button-box {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically aligns the delete button with the middle of the check site button */
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    cursor: pointer;
    padding: 2px;
    gap:2px;
}

/* Delete Button */
.delete-button {
    display: flex;
    align-items: center; /* Vertically aligns the delete button with the middle of the check site button */
    justify-content: center;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #ff0303;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    visibility: hidden;
}

.delete-button:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.copy-button:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.play-button:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.check-button:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

/* Copy Button */
.copy-button {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #ffffff;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    border: 1px black solid;
    visibility: hidden;
}

.add-button {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #ffffff;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    border: 1px black solid;
}

.expand-tray .copy-button{
    visibility: visible;
    top:0;
    right:0;
}

.copy-button:active{
    background-color: #AFAFAF;
}

/*  Play Button */
.play-button {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #0b2261;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    visibility: hidden;
}

/*  Check Button */
.check-button {
    display: flex;
    align-items: center; /* Vertically aligns the copy button with the middle of the check site button */
    justify-content: center;
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: #AFAFAF;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    visibility: hidden;
}


.check-button.selected {
    background-color: #39f414; /* Color when selected */
    visibility: visible;
}


/* Expand Button */
.expand-button {
    display: flex;
    align-items: center; /* Vertically aligns the delete button with the middle of the check site button */
    justify-content: center;
    width: 32px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-color: #212925;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
}

.expand-button:hover{
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.1);
}

.expand-button.selected {
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25); /* Added inset for inner shadow */
}

/* Original styles for .expand-tray */
.expand-tray {
  display: none; /* Initially hidden, but will be shown when expanded */
  padding: 10px;
  background-color: #ffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Additional styles for pre and code tags inside .expand-tray */
.expand-tray pre {
  background-color: #E8E8E8; /* Light grey background */
  border: 1px solid #ccc; /* Grey border */
  border-radius: 4px; /* Slightly rounded corners for the pre block */
  overflow-x: auto; /* Horizontal scrolling if code overflows */
  padding: 10px; /* Padding inside the pre block */
  margin-top: 10px; /* Margin at the top of the pre block */
  font-weight: 600;
  color: #00805E;
  white-space: pre-wrap; /* Preserve whitespace */
  word-wrap: break-word; /* Allow long lines to wrap */
  font-family: monospace; /* Monospace font for code */
}

/* Ensure that code within pre tags does not have additional padding or margins */
.expand-tray pre code {
  padding: 0;
  margin: 0;
  font-size: 0.9em; /* You can adjust the font size if needed */
}

.expand-tray pre:hover  {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    transform: scale(1.02);
}


.x-text {
    font-family: 'Inter';
    font-style: normal;
    color: #fef5ec !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px; /* Adjust line-height to center vertically */
    text-align: center; /* Center text horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.plus-text {
    font-family: 'Inter';
    font-style: normal;
    color: #fef5ec !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px; /* Adjust line-height to center vertically */
    text-align: center; /* Center text horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedback {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: black;
}
